<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="language" content="English" />
    <meta name="title" content="tou.im" />
    <meta name="description" content="Simple image hosting service" />
    <meta name="thumbnail" content="<%= require('../assets/banner.png') %>" />
    <meta name="keywords" content="upload, image hosting, free image hosting" />
    <meta property="og:title" content="tou.im" />
    <meta property="og:description" content="Simple image hosting service" />
    <meta property="og:site_name" content="tou.im" />
    <meta property="og:url" content="https://tou.im" />
    <meta
      property="og:image"
      content="<%= require('../assets/banner.png') %>"
    />
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>tou.im</title>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
